* body {
    background-color: white;
}

.page-wrap {
    padding: 0;
    margin: 0 auto;
    width: 1024px;
    height: 768;
}

.container {}

.col-1-3 {
    width: 33%;
    float: left;
    height: 100%;
}

#left {
    background-color: gold;
}

#middle {
    background-color: silver;
}

#right {
    background-color: lightblue;
}